<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body class="hold-transition skin-purple sidebar-mini">
	<div class="wrapper">
		<header th:replace="/layouts/layout :: header"></header>
		<div class="content-wrapper ">
			<div class="col-md-12 " style="padding-top: 15px">
				<div>
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Caracteristica</h3>
						</div>
						<div class="box-body no-padding"
							th:if="${not #lists.isEmpty(caracteristica)}">
							<table class="table table-striped">
								<tr>
									<th>Id</th>
									<th>Nombre</th>
									<th>Estado</th>
									<th style="width: 150px; text-align: center;">Editar</th>
									<th style="width: 150px; text-align: center;">Eliminar</th>
								</tr>
								<tr th:each="carga : ${caracteristica}">
									<td th:text="${carga.idCaracteristica}">Id</td>
									<td th:text="${carga.nombre}">Nombre</td>
									<td th:text="${carga.estado}">Estado</td>
									<td style="text-align: center"><a
										th:href="${'/caracteristica/edit/' + carga.idCaracteristica}"
										class="btn btn-default">Edit</a></td>
									<td style="text-align: center"><a
										onclick="return confirm('Esta seguro que desea eliminar la caracteristica del Salon..')"
										th:href="${'/caracteristica/delete/' + carga.idCaracteristica}"
										class="btn btn-danger">Delete</a></td>
								</tr>
							</table>
						</div>
						<div class="box-footer">
							<a class="btn btn-primary pull-right" th:href="@{/caracteristica/add}">Crear</a>
						</div>
					</div>
				</div>s
			</div>
		</div>
		<footer th:replace="/layouts/layout :: footer"></footer>
	</div>
</body>
</html>