<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Salones edit</title>
</head>
<body class="hold-transition skin-purple sidebar-mini">
	<div class="wrapper">
		<header th:replace="/layouts/layout :: header"></header>
		<div class="content-wrapper">

			<div class="col-md-12 " style="padding-top: 15px">
				<div class="box box-primary ">
					<div class="box-header with-border">
						<h3 class="box-title">Salones</h3>
					</div>
					<form class="form-horizontal" th:object="${salonModel}"
						th:action="@{/admin/salones/}" method="post">
						<div class="box-body">
							<div class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-10 ">
									<label class=" control-label">Los campos marcados con <span
										class="text-danger">*</span> son obligatorios
									</label>
								</div>
							</div>
							<div class="form-group" th:if="*{editar} == true">
								<label class="col-sm-2 control-label">Id:</label>
								<div class="col-sm-10">
									<input type="text" readonly="readonly" class="form-control"
										th:field="*{idSalon}" />
								</div>
							</div>
							<div class="form-group" th:if="${codigo != 0}">
								<label class="col-sm-2 control-label">Código de Salon:<span
									class="text-danger">*</span></label>
								<div class="col-sm-10">
									<input type="text" class="form-control" th:field="*{codigo}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Estado:<span
									class="text-danger">*</span></label>
								<div class="col-sm-10">
									<select class="form-control" th:field="*{estado}">

										<option th:value="'true'" th:text="Activo"></option>
										<option th:value="'false'" th:text="Inactivo"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Bloque:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" th:field="*{bloque}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Tipo:<span
									class="text-danger">*</span></label>
								<div class="col-sm-10">
									<select class="form-control" th:field="*{tipo}">
										<option value="">Seleccione...</option>
										<option th:value="'salon'" th:text="Salon"></option>
										<option th:value="'auditorio'" th:text="Auditorio"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Descripción:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control"
										th:field="*{descripcion}" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2 control-label ">
									<label class=" control-label"> Caracteristicas: </label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-10 ">
									<table class="table">
										<thead>
											<tr>
												<th></th>
												<th scope="col">#</th>
												<th scope="col">Caracteristica</th>
												<th scope="col">Cantidad</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="c, stat  : *{caracteristicas}">

												<td><input type="hidden"
													th:field="*{caracteristicas[__${stat.index}__].nombre}" />
													<input type="hidden"
													th:field="*{caracteristicas[__${stat.index}__].cantidad}" /></td>

												<td th:text="${stat}"></td>
												<th scope="row"><input type="checkbox"
													th:name="|caracteristicas[${stat.index}]|"
													th:checked="${c.seleccionada}"
													th:value="${c.idcaracteristica}" /></th>
												<td><label th:text="${c.nombre}"></label></td>
												<td><input type="text" th:text="${c.cantidad}"></input></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="box-footer">
							<div class="form-group pull-right">
								<div class="col-sm-2">
									<button type="submit" class="btn btn-primary">Guardar</button>
								</div>
							</div>
						</div>
				</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="/layouts/layout :: footer"></footer>
	</div>
</body>
</html>