<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body class="hold-transition skin-purple sidebar-mini">
	<div class="wrapper">
		<header th:replace="layouts/layout :: header"></header>
		<div class="content-wrapper ">
			<div class="col-md-12 " style="padding-top: 15px">
				<div>
					<div class="box">
						<div class="box-header">
							<h3 class="box-title"><i class="fa fa-id-card-o" aria-hidden="true"></i> Roles</h3>
						</div>
						<div class="box-body no-padding"
							th:if="${not #lists.isEmpty(roles)}">
							<table class="table table-striped">
								<tr>
									<th>Id</th>
									<th>Descripción</th>
									<th style="width: 150px; text-align: center;">Editar</th>
									<th style="width: 150px; text-align: center;">Eliminar</th>
								</tr>
								<tr th:each="rol : ${roles}">
									<td th:text="${rol.idRol}">Id</td>
									<td th:text="${rol.descripcion}">Descripción</td>
									<td style="text-align: center"><a
										th:href="${'/admin/roles/edit/' + rol.idRol}"
										class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
									<td style="text-align: center"><a
										onclick="return confirm('Esta seguro que desea eliminar le rol..')"
										th:href="${'/admin/roles/delete/' + rol.idRol}"
										class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
								</tr>
							</table>
						</div>
						<div class="box-footer">
							<a class="btn btn-primary pull-right" th:href="@{/admin/roles/add}">Crear</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="layouts/layout :: footer"></footer>
	</div>
</body>
</html>