<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/security"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Solicitud</title>
</head>
<body class="hold-transition skin-purple sidebar-mini">
	<div class="wrapper">
		<header th:replace="layouts/layout :: header"></header>
		<div class="content-wrapper">
			<div class="content">
				<h1>Crear Petición</h1>
			</div>
		</div>
		<footer th:replace="layouts/layout :: footer"></footer>
	</div>
</body>
</html>